
.main {
  background: $sectionBgColor;
  padding: 20px 30px;
  min-height: calc(100vh - #{$headerHeight});
  box-sizing: border-box;
}

.article {
  margin-bottom: 50px;
}

.article-content {

}

.article-title {
  display: flex;
  align-items: center;
  position: relative;
  h3 {
    font-size: 16px;
    margin-right: 10px;
  }
  span {
    font-size: 14px;
    color: $textColorMinor;
  }
}
.switch-btn {
  position: absolute;
  left: -18px;
  top: 6px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid $textColorMinor;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  cursor: pointer;
  transition: all .3s;
  @include transform(0deg);
}

.article-other {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin-top: 5px;
  a {
    color: $textColorMinor;
    font-size: 12px;
    cursor: pointer;
    padding: 0 5px;
    border-right: 1px solid $textColorMinor;
    line-height: 12px;
    &:hover {
      color: $textColorMain;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.article-text {
  margin-top: 10px;
  pre{
    line-height: 20px;
    white-space: normal;
  }
}

.add-comment {
  margin-top: 20px;
  textarea {
    border: 1px solid #8F8E8C;
    display: block;
    width: 50%;
    padding: 10px;
    line-height: 20px;
    outline: none;
    max-width: calc(100% - 100px);
    &:focus {
      outline: none;
      border: 1px solid $textColorMain;
    }
  }
  button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
  }
}



.comments {

  &.no-comments{
    div{
      line-height: 200px;
      text-align: center;
      color: $textColorMinor;

    };
  }
}
.comment-item{
  font-size: 14px;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
  &.active {
    >.comment-title{
      .switch-btn{
        @include transform(180deg);
      }
    }
    .comment-children{
      height: auto;
    }
    >.comment-content{
      padding: 5px 0;
      pre{
        line-height: 20px;
        white-space: normal;
        overflow: auto;
      }
    }
  }
}
.comment-title{
  display: flex;
  align-items: center;
  position: relative;
  span {
    font-size: 14px;
    color: $textColorMinor;
    margin-right: 5px;
  }
}
.comment-content{
  padding: 5px 0;
  box-sizing: border-box;
  pre{
    line-height: 20px;
    width: 100%;
    @include ellipsis;
  }
}
.comment-btn{
  font-size: 12px;
  a{
    opacity: 0.8;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    &:hover{
      opacity: 1;
      color: $textColorMain;
    }
  }
}
.comment-children{
  height: 0;
  overflow: hidden;
  margin: 15px 0;
  padding-left: 40px;
}
.comment-children-item{
  margin-bottom: 15px;
  &:last-child{
    margin-bottom: 0;
  }
  &.active {
    >.comment-title{
      .switch-btn{
        @include transform(180deg);
      }
    }
    >.comment-content{
      padding: 5px 0;
      pre{
        line-height: 20px;
        white-space: normal;
        overflow: auto;
      }
    }
  }
}